.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.navbar .navbar-logo {
    height: 250px;
    width: 250px;
}

.navbar .navbar-logo img {
    width: 100%;
}

.navbar .navbar-links {
    display: flex;
    gap: 20px;

}

.navbar-links .links {
    color: #000;
    font-weight: 'bold';
    font-size: 25px;
    text-decoration: none;
}

.hero {
    width: 100%;
}

.hero .hero-image {
    padding: 30px;
    height: 100vh;
    object-fit: cover;
}

.hero .hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}